* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, li {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

:root {
    --color-title: rgba(0, 0, 0, 0.8);
    --color-text-menu: rgba(0, 0, 0, 0.64);
    --font-title: "docs-Roboto Serif";
    --bg-color-dark: rgba(3, 7, 49, 0.87);
}

body, html {
    width: 100vw; /* Corrigido de 100dvw para 100vw */
    height: 100vh; /* Corrigido de 100dvh para 100vh */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body.dark-mode {
    background-color: #202036;
}

body.dark-mode #capa{
    /* background-color: #252527; */
    background-color: #202036;
    color: #fff;
}
#capa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh; /* Corrigido de 100dvh para 100vh */
    background-color: #fff;
    color: #000;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 2rem; */
    z-index: 10;
    transition: transform 0.5s ease;
}

/* Estilo para esconder a capa */
.capa-oculta {
    transform: translateY(-100%);
}

#section-capa {
    /* background-color: #a8a8ce; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.message{
    position: absolute;
    bottom: 80px;
    width: 80%;
    max-width: 360px;
    background-color: #8e7a13;
    border: 2px double #000;
}
.message p{
    text-align: center;
    font-size: 18px;
}

#seta-rolagem {
    width: 160px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    font-size: 2rem;
    color: #a8a8ce;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#seta-rolagem:hover {
    transform: scale(1.1);
}

#seta-rolagem img{
    width: 35px;
    rotate: 90deg;
    filter: invert(75%) sepia(10%) saturate(300%) hue-rotate(190deg) brightness(85%) contrast(90%);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    z-index: 999;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

body.dark-mode header {
    background-color: #a8a8ce;
    box-shadow: 0 0 0.21px rgba(255, 255, 255, 0.58); /* Corrigido para 'px' */
}

.logo-box {
    align-items: center;
    display: flex;
}

#logo {
    margin-left: 8px;
    width: 38px;
    height: 40px;
    max-height: 56px;
}

h1 {
    width: 174px;
    height: 56px;
    padding: 16px 12px;
    font-size: 24px;
    color: var(--color-title);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1;
}
#toggleTheme{
    
    width: 30px;
    list-style: none;
    text-decoration: none;
    border: none;
    background-color: none;
}
#themeIcon {
    width: 25px;
    background-color: none;
}

.menu {
    position: absolute;
    /* display: none; */
    top: 56px;
    right: -70%;
    /* margin-top: 120px; */
    width: 70%;
    height: 60vh;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: 0.3s ease-in;
}
.mobile-menu-icon{
    width: 40px;
}
ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Corrigido para flex-end */
}

li {
    height: 40px;
    padding: 10px 12px;
}

.menu-item {
    font-size: 14.6px;
    color: var(--color-text-menu);
    font-family: "Open Sans", sans-serif;
}

.menu-item:hover {
    color: black;
}

.isActive {
    color: black;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border-bottom: 1px solid #202036;
}

.perfil-container {
    width: 50%;
    height: 320px;
}

#img-perfil {
    width: 290px;
}

#titulo-animado {
    max-width: 400px;
    font-size: 24px;
    margin-left: 20px;
    align-items: center;
    text-align: center;
    font-family: var(--font-title);
    font-weight: bold;
    color: #a8a8ce;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #333;
    width: fit-content;
    animation: blink-caret 0.75s step-end infinite;
}

#cta-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#cta-container p {
    margin-left: 40px;
    width: 70%;
    color: #000;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

body.dark-mode #cta-container p{
    color: #fff;
}
#cta-container button {
    width: 160px;
    height: 35px;
    color: #a8a8ce;
    background-color: #202036;
    border-radius: 4px;
    border: none; 
    cursor: pointer;
    animation: pulse 2s infinite ease-in-out;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

button a {
    text-overflow: ellipsis;
    font-family: "Poppins", sans-serif;
    color: inherit;
    text-decoration: none;
}

main {
    height: 100%;
    padding: 56px 48px 0 48px;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
