* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, li {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

:root {
    --color-title: rgba(0, 0, 0, 0.8);
    --color-text-menu: rgba(0, 0, 0, 0.64);
    --color-white: #fff;
    --color-gray: rgb(132, 145, 160);
    --color-bg-header:#e8eff5;
    --color-dark-header:#202036;
    --color-message-blue: #457ab0;
    --font-title: "docs-Roboto Serif";
    --bg-color-dark: rgba(3, 7, 49, 0.87);
    --color-main-darkMode:#0f0f20;
    --color-main: rgb(1, 179, 255);
    --linear-color: linear-gradient(79.63deg, rgb(22, 22, 22) 12.08%, rgb(30, 58, 138) 216.5%);
    --linear-bg: linear-gradient(267.93deg, rgb(1, 179, 255) -42.09%, rgb(23, 25, 31) 108.97%);
}

body, html {
    width: 100dvw;
    height: 100dvh;
    font-family: Sen, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* background-color: #e8eff5;   */
    background-color: #fff;
    /* background-color: #e8ebee73; */
}

body.dark-mode {
    background-color: var(--color-main-darkMode);
    /* background-color: #202036; */
    color: #fff;
}

body.dark-mode #capa {
    /* background-color: #0f0f20; */
    /* background-color: #0000002f; */
    background-color: #202036;
    color: #fff;
}

#capa {
    position: fixed;
    top: 0;
    margin-left:3%;
    width: 94%;
    height: 95%;
    border-radius: 0 0 20px 20px;
    /* background-color: #c3c9ce73; */
    background-color: #e8eff5;
    color: #000;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transition: transform 0.3s ease-in-out; 
}

.capa-oculta {
    background-color: #e8eff586 !important;
    transform: translateY(calc((-100% + 92px)));
    backdrop-filter: blur(10px); 
}

body.dark-mode .capa-oculta{
    background-color: #202036b6 !important;
    backdrop-filter: blur(10px); 
}

#section-capa {
    /* background-color: #0c78d1; */
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%
    /* background-color: #a8a8ce; */
}

.perfil-container {
    /* width: 50%; */
    height: 280px;
}

#img-perfil {
    width: 150px;
    /* margin-left: 10px; */
}

#titulo {
    font-size: 20px;
    /* margin-left: 20px; */
    text-align: center;
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--color-title);
    white-space: nowrap;
}
#fullstack{
    color:rgb(1, 179, 255);
}
body.dark-mode #titulo {
    color: #fff;
}

#cta-container {
    /* width: 50%; */
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#cta-container p {
  margin: 20px auto;
    /* width: 70%; */
    color: #000;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

body.dark-mode #cta-container p {
    color: #fff;
}

#cta-container button {
    width: 160px;
    height: 40px;
    color: #ffffff;
    background: rgb(1, 179, 255);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    animation: pulse 2s infinite ease-in-out;
    transition: transform 0.3s ease;
}
body.dark-mode #cta-container button{
    color: #ffffff;
    background: none;
    background-color: var(--color-main);
    animation: pulseDarkMode 2s infinite ease-in-out;
    transition: transform 0.3s ease;
}


button a {
    text-overflow: ellipsis;
    font-family: "Poppins", sans-serif;
    color: inherit;
    font-size: 14px;
    text-decoration: none;
}

.message {
    /* position: absolute; */
    /* bottom: 40px; */
    width: 80%;
    max-width: 360px;
    text-align: center;
    align-items: center;
    padding: 4px;
    /* background-color: #8e7a13;
    border: 2px double #000; */
}

.message #message-animated {
    font-size: 16px;
    max-width: 300px;
    text-align: center;
    font-family: var(--font-title);
    font-weight: 500;
    color: var(--color-title);
    display: inline; 
    position: relative;
}
body.dark-mode #message-animated{
    color: var(--color-gray);
}

#seta-rolagem {
    /* position: absolute; */
    width: 100% !important;
    /* bottom: 0px; */
    background: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-top: 1px solid var(--color-gray);
}

#seta-rolagem img {
    width: 25px;
    margin: 4px;
    rotate: -90deg;
    filter: invert(50%) ;
}
body.dark-mode #seta-rolagem img{
    filter: invert(70%) ;
}

.capa-oculta #seta-rolagem img {
    rotate: 90deg;
}
header {
    position: fixed;
    top: 0;
    width: 94%;
    margin: 0 3%;
    height: 56px;
    z-index: 99;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    /* background-color: #e8eff5b0;   */
    /* background-color: #fff; */
background-color: #e8eff5;
    border-radius: 0 0 4px 4px;
    /* border: 1px solid #0000002f; */
    /* box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2); */
}

body.dark-mode header {
    /* background-color: #0f0f20; */
    background-color: var(--color-dark-header);
    /* box-shadow: 0 0 0.21px rgba(255, 255, 255, 0.58); */
    /* backdrop-filter: blur(10px); */
}

.logo-box {
    display: flex;
    align-items: center;
}

#logo {
    /* margin-left: 8px; */
    width: 38px;
    height: 40px;
    max-height: 56px;
}

h1 {
    width: 174px;
    height: 56px;
    padding: 16px 12px;
    font-size: 24px;
    color: rgb(1, 179, 255);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1;
}

#toggleTheme {
    width: 30px;
    border: none;
    background-color: inherit;
}

#themeIcon {
    width: 20px;
}

body.dark-mode #themeIcon {
    filter: invert(100%);
    z-index: -999 !important;
}

.navBox {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.menu {
    display: none;
    position: absolute;
    top: 0;
    right: -3%;
    width: 70%;
    height: 80vh;
   background-color: #ffffff69;;
    color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
    z-index: 999;
}
body.dark-mode .menu {

    /* background-color: rgba(32, 32, 54, 0.7); */
    background-color: #2929527a;
    backdrop-filter: blur(10px);
}
.menu.active {
    display: block;
}
#menuIcon {
    position: relative;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    z-index: 999;
}
body.dark-mode #menuIcon{
    filter: invert(100%) !important;
}
ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    height: 40px;
    padding: 10px 12px;
}

.menu-item {
    font-size: 14.6px;
    color: var(--color-text-menu);
    font-family: "Open Sans", sans-serif;
}

.menu-item:hover {
    color: var(--color-main);
}
body.dark-mode .menu-item {
    color: #ffffff;
}

.isActive {
    color: var(--color-main);
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border-bottom: 1px solid #202036;
}
body.dark-mode .isActive {
    color: #f1f1f1;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border-bottom: 1px solid var(--color-main);
}

main {
    height: 100%;
    padding: 100px 10px 0px 20px;
    backdrop-filter: blur(10px);
}
#services h3, #services p{
    font-size: 16px;
    margin: 16px 0px;
}
.service{
    /* margin-left: 40px; */
    margin: 20px;
}
#services .img-services-icon{
    width: 30px;
}

body.dark-mode section p{
    color: rgb(132, 145, 160);
}
h2{
    color: var(--color-title);
    font-size: 1.4rem;
    
}

body.dark-mode h2{
color: var(--color-white);
}


.button-socialMedia{
    width: 150px;
    height: 40px;
    padding: 6px;
    color: #fff;
    background-color: var(--color-main);
    font-family: Sen;
    font-size: 16px;
    /* font-weight: 600; */
    margin: 30px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.button-socialMedia:hover{
scale: 1.1;
}

body.dark-mode .button-socialMedia{
    background: none;
    border: none;
    border: 1px solid var(--color-main);

}

form label {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    transition: color 0s, background-color 0s;
    background-color: #fff;
    padding: 0 4px;
    pointer-events: none;
    color: var(--color-text);
    font-size: 14px;
}
body.dark-mode form label{
    background-color: var(--color-main-darkMode);
}

form .box-input, form #btn-submit {
    
    width: 80%;
    height: 35px;
    margin: 0;
    margin: 20px 0;
    border-radius: 8px;   
}

.box-input:has(textarea){
    width: 80%;
    height: 90px;
}

.box-input{
   position: relative; 
}

form button{
    outline: none;
    border: none;
    background-color: var(--color-main);
    color: var(--color-white);
    cursor: pointer;
}
form button:hover{
    background-color: #1998ff;
}
body.dark-mode form .box-input{
    background-color: var(--color-main-darkMode);
}
.box-input input, .box-input textarea{
    width: 100%;
    height: 100%;
    padding: 0 8px;
    padding-top: 10px;
    outline: none;
    margin-bottom: 6px;
    border-radius: 8px;
    border: 1px solid var(--color-main);
    
}

body.dark-mode .box-input input, body.dark-mode .box-input textarea{
    background-color: var(--color-main-darkMode);
    color: var(--color-white);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff !important; /* Fundo azul */
    box-shadow: 0 0 0 30px #fff inset !important; /* Fundo azul */
    -webkit-text-fill-color:  var(--color-text) !important; /* Texto branco */
    caret-color: var(--color-text) !important; /* Texto branco */
}

body.dark-mode input:-webkit-autofill,
body.dark-mode input:-webkit-autofill:hover,
body.dark-mode input:-webkit-autofill:focus,
body.dark-mode input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-main-darkMode) !important; /* Fundo azul */
    box-shadow: 0 0 0 30px var(--color-main-darkMode) inset !important; /* Fundo azul */
    -webkit-text-fill-color:  var(--color-white) !important; /* Texto branco */
    caret-color: var(--color-white) !important; /* Texto branco */
}
form input:focus + label,
form input:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label {
    top: 2px;
    left: 10px;
    font-size: 12px;
    color: var(--color-main);
}

footer{
    display:flex;
    text-align: center;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 5px #2020365e;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(243, 243, 243, 0.4);
    }
}
@keyframes pulseDarkMode {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }
}


#skills {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; 
    position: relative;
    overflow: hidden;
}

h5 {
    position: absolute;
    z-index: 1; 
    font-size: 24px;
    color: #a8a8ce;
}

.img-skills {
    width: 70px; 
    height: 70px; 
    position: absolute; 
    border-radius: 50%;
    border: 2px solid #0c78d1; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    animation: loading 10s linear infinite; }


.img-skills-1 { animation-delay: 0s; }
.img-skills-2 { animation-delay: 2s; }
.img-skills-3 { animation-delay: 4s; }
.img-skills-4 { animation-delay: 6s; }
.img-skills-5 { animation-delay: 8s; }

@keyframes loading {
    0% { transform: rotate(0deg) translate(80px) rotate(0deg); }
    100% { transform: rotate(360deg) translate(80px) rotate(-360deg); }
}
